<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <title>Login</title>
    </head>

    <body>
        <h1>Login</h1>
        <form method='POST' action='/loginExitoso'>
            <label>Nombre: </label>
            <input type="text" id="nombre" name="nombre" required>
            <br><br>
            <label>Contraseña: </label>
            <input type="password" id="contraseña" name="contraseña" required> <br><br>
            <button type="submit">Login</button>
        </form>
  </body>
</html>