<!doctype html>
    <head>
      <meta charset="utf-8">
      <title>Preguntas</title>
    </head>

    <body>
      <header>
        <h1>Pregunta 1</h1>
      </header>
      <main>
        <h2>contenido pregunta</h2>
      </main>

      <footer>
        <button><a class='btn-op1' onclick='#revisar si es correcta'>Opcion 1</a></button>
        <button><a class='btn-op2' onclick='#revisar si es correcta'>Opcion 2</a></button>
        <button><a class='btn-op3' onclick='#revisar si es correcta'>Opcion 3</a></button>
        <button><a class='btn-op4' onclick='#revisar si es correcta'>Opcion 4</a></button>
      </footer>
      
    </body>
<!--- si es correcto display pantalla que diga correcto, si es falso display pantalla que diga falso --->
</html>